.Header {
  background-color: #fff; }
  .Header .Logo {
    float: left;
    margin-right: 2rem; }
    .Header .Logo img {
      height: 2.5rem; }
  .Header .ant-menu .ant-menu-item {
    margin-bottom: -2px; }
