.Header {
  // background-image: linear-gradient(100deg, rgb(0, 112, 186), rgb(21, 70, 160));
  background-color: #fff;
  .Logo {
    float: left;
    margin-right: 2rem;
    img {
      height: 2.5rem;
    }
  }
  .ant-menu .ant-menu-item{
    margin-bottom: -2px;
  }
}
