.ShiftsModal{
  .left-time-picker {
    width: 50%;
    .ant-time-picker-input{
      -webkit-border-radius: 4px 0 0 4px;
      -moz-border-radius: 4px 0 0 4px;
      border-radius: 4px 0 0 4px;
      border-right: 0.5px solid #d9d9d9;
    }
  }
  .right-time-picker {
    width: 50%;
    .ant-time-picker-input{
      -webkit-border-radius: 0 4px 4px 0;
      -moz-border-radius: 0 4px 4px 0;
      border-radius: 0 4px 4px 0;
      border-left: 0.5px solid #d9d9d9;
    }
  }
}